PORT=5999
JWT_SECRET=WyZ5KRvLlbApKrhrOLeIBoOU9brND+brjiiJGQjPTSKBofUh5mR7phkefcx3xux8qw64xtVlGkd4DhBD4Lrytg==
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_EXPIRES_IN=8h

# Supabase API config (used by backend src/config/supabase.js)
SUPABASE_URL=https://bfijjzugbbxxcknjixth.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmaWpqenVnYmJ4eGNrbmppeHRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzM3ODcxMiwiZXhwIjoyMDkyOTU0NzEyfQ.1gN-xnLykG1Zn72MYTfbJiFp7tYyI-LCS191COKMjoo

# Optional direct Postgres connection details
PGHOST=aws-1-eu-central-1.pooler.supabase.com
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres.bfijjzugbbxxcknjixth
PGPASSWORD=Malese123@mac
DATABASE_URL=postgresql://postgres.bfijjzugbbxxcknjixth:Malese123%40mac@aws-1-eu-central-1.pooler.supabase.com:5432/postgres